@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
*{
	background: #EAF0F1;
	margin: 0 auto;
	padding: 0 auto;
}

.navigation{
	width: 100%;
	height: 2em;
	background: #333945;
	padding: 1.5em 0em 0.5em 0em;
	display: grid;
	grid: 20px / auto auto auto auto auto auto;
}

#contact {
  display: inline-block;
  padding: 2px 20px; /* Adjust padding as needed */
  color: #fff; /* Set your desired text color */
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}


.navBar i, .navBar a, #bar{
	display: none;
}

#panelTwo{
	display: none;
}

#home, #contact, #about, #gallery, #review, #book{
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	font-size: 1em;
	letter-spacing: 0.25em;
	background-color: #333945;
	color: #EAF0F1;
}

.business{
	padding: 3em 0em;
	text-align: center;
}

#negi{
	font-family: 'Indie Flower', cursive;
	font-size: 4em;
	letter-spacing: 0.25em;
	margin-bottom: 0.25em;
}

#rent{
	display: inline;
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
}

#book{
	border-style: solid;
	border-color: #fff;
	padding: 0.5em 2em;
	transition: all 0.5s;
}

#book:hover{
	background: #fff;
	color: #000;
}

#home:hover, #contact:hover, #about:hover, #gallery:hover, #review:hover{
	color: #758AA2;
}

a{
	text-decoration: none;
	background-color: #333945;
}

.ag-format-container {
  width: 1145px;
}

.ag-courses_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 0;
}

.ag-courses_item {
  flex-basis: calc(50% - 30px);
  margin: 0 0 30px;
  overflow: hidden;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 40px;
  color: #EAF0F1;
  background-color: #333945;
  overflow: hidden;
  position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  color: #fff;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  z-index: 2;
  position: relative;
background-color: #333945;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;
  z-index: 2;
  position: relative;
	background-color: #333945;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
  transition: color 0.5s ease;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}
